# Linear Regression with Multiple Variable

First we import all the necessary modules needed.

In [4]:
import numpy as np
import pandas as pd
from sklearn import linear_model

Now read the csv file using pandas and display it in tabular form

In [5]:
df = pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

Now cleaning of data is necessary too so we to change the missing and NaN values to median of the column.

In [6]:
import math

median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [7]:
df.bedrooms =df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

Applying linear regression to the data we are able to determine the price of the the house. While taking in factor different variables such as area, bedrooms, age

In [8]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)
reg.intercept_
reg.coef_

price_predict = reg.predict([[3000,3,40]])
print('Price(in $) is :',price_predict)

Price(in $) is : [498408.25158031]

c:\Users\garad\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(